<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formuláio de cadastro de Notíia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br />

		<% if(validacao) { %>
			<ul>
				<% for(var i=0; i < validacao.length; i++){ %>
					<li>
						<%= validacao[i].msg %>
					</li>
				<% } %> 
			</ul>

			<% } %>

		<form action="/noticias/salvar" method="post">
			<label>Titulo</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticias.titulo%>" placeholder="Titulo da noticia"/>
			<br />
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticias.resumo%>" placeholder="Resumo da noticia"/>
			<br />
			<label>Autor</label>
			<input type="text" id="autor" name="autor" value="<%=noticias.autor%>" placeholder="Autor da noticia"/>
			<br />
			<label>Data da Noticia</label>
			<input type="date" id="data_noticia" name="data_noticia" value="<%=noticias.data_noticia%>" placeholder="Data da noticia"/>
			<br />
			<label>Noticias</label>
			<textarea id="noticia" name="noticia" value="<%=noticias.noticia%>"rows="5" cols="30"></textarea>
			<br/>
			<input type="submit" value="Enviar" />
			<br/>
		
		</form>

	</body>
</html>